.logo{
    width:100px;
    float:left;
    height:100px;
    position:absolute;
    margin-top: 5px;
}
*{
    margin: 0;
    padding:0;
}

.image_header{
    float:right;
    width:250px;
    height:90px;
    margin-top: 8px;
    margin-right: 10px;
    box-shadow: -1px 1px 18px 2px rgba(248, 247, 247, 0.973);
}
.school_name{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    float:left;
    margin-left: 180px;
    margin-top: 20px;
    color:rgb(238, 203, 3);    
    text-shadow: 3px 2px 2px rgb(7, 7, 7);
    text-align: center;    
}
.nav_up{
    word-spacing: 25px;
    background-color: rgb(29, 81, 105);
    top:0;
    width:100%;
    position: absolute;
    height: 25px;
    
}

.nav_up li{

    text-decoration: none;
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin-top: 3px;
    border-radius: 0;
    border-right: 2px solid #faf8f8;
    padding-right: 10px;
    float: right;
    color:rgb(238, 203, 3);
    margin-left: 30px;   
}

.nav_up a:hover{
    background-color: black;
}
.down_nav{
    width:100%;
    height:20px;
    background-color: rgb(49, 110, 134);
    
    
}.d_nav{
    color:rgb(238, 203, 3);
}
.up_nav{
    color:rgb(238, 203, 3);
}
.upp_nav{
    margin-top: 25px;
    width:100%;
    height:20px;
    background-color: rgb(49, 110, 134);   
}
.heading{
    width:100%;
    height:110px;
    margin-top: 0px;
    background-color: rgb(56, 118, 146);   
}

h2{
    margin-top: 10px;
}

body{
    background-color: #f5efef;
}

.main_menu{
    
    margin:10px 0 0 10px;
    display:flex;
    padding: 10px;
    width:200px;
    background-color: rgb(5, 59, 104);
    color:rgb(11, 12, 12);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropbtn{
   border: none;
   padding: 10px 10px 10px 10px;
   display:flex;
   text-align: justify;
   border-bottom:2px solid rgb(11, 49, 83);
   font-weight: 20px;
   font-size: 14px;
   height:40px;
   min-width:200px;
   background-color: rgb(214, 183, 3);
   color: rgb(10, 10, 10);
   word-spacing: 5px;   
}
.dropbtn1 {
    background-color: rgb(214, 183, 3);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
 
    position: relative;
    display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(214, 183, 3);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:200px;
  top:0px;
}

.dropdown-content a {
  color: rgb(7, 7, 7);
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: block;
  border-bottom:1px solid rgb(11,49,83);
  border-left:1px solid rgb(11,49,83);
  border-right:1px solid rgb(11,49,83);
  font-weight: 20px;
  font-size: 14px;
  word-spacing: 5px;
}

.dropdown-content a:hover {background-color: white;color:black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: aliceblue;color:#0a0a0a;}


.main_content{
    display: flexbox;
    margin-top:-340px;
    margin-left:250px;
    width:70%;
    height: 80%;
    text-align: justify;
}
p{
    padding:10px;
    color:rgb(4, 74, 102);
    font-size: 16px;    
}
h2{
    padding: 10px;
    color:rgb(5, 53, 78);
    word-spacing: 7px;
}
  
